n8n-workflows/shared/claude-api-wrapper.json
{
  "name": "ai-api-wrapper",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-input",
      "name": "Sub-Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Receives: system_prompt, user_prompt, model (gemini-free|sonnet|opus), workflow_name, client_name, purpose. Default: gemini-free"
    },
    {
      "parameters": {
        "jsCode": "// Multi-provider model router\n// Priority: Gemini free tier → Claude Sonnet → Claude Opus\nconst input = $input.all()[0].json;\n\nconst modelMap = {\n  // FREE TIER — use for most tasks\n  'gemini-free': {\n    provider: 'google',\n    model_id: 'gemini-2.0-flash',\n    max_tokens: 8192,\n    cost_per_1k_input: 0,\n    cost_per_1k_output: 0\n  },\n  'gemini-pro': {\n    provider: 'google',\n    model_id: 'gemini-2.5-pro-preview-05-06',\n    max_tokens: 8192,\n    cost_per_1k_input: 0,\n    cost_per_1k_output: 0\n  },\n  // PAID — only for high-value analytical work\n  'sonnet': {\n    provider: 'anthropic',\n    model_id: 'claude-sonnet-4-6',\n    max_tokens: 4096,\n    cost_per_1k_input: 0.003,\n    cost_per_1k_output: 0.015\n  },\n  'opus': {\n    provider: 'anthropic',\n    model_id: 'claude-opus-4-6',\n    max_tokens: 8192,\n    cost_per_1k_input: 0.015,\n    cost_per_1k_output: 0.075\n  }\n};\n\n// Default to gemini-free if no model specified\nconst modelKey = input.model || 'gemini-free';\nconst config = modelMap[modelKey] || modelMap['gemini-free'];\n\nreturn [{\n  json: {\n    ...input,\n    provider: config.provider,\n    model_id: config.model_id,\n    max_tokens: config.max_tokens,\n    cost_per_1k_input: config.cost_per_1k_input,\n    cost_per_1k_output: config.cost_per_1k_output,\n    model_key: modelKey,\n    retry_count: 0,\n    max_retries: 3\n  }\n}];"
      },
      "id": "model-router",
      "name": "Model Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            { "leftValue": "={{ $json.provider }}", "rightValue": "google", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "provider-switch",
      "name": "Which Provider?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300],
      "notes": "Routes to Google Gemini (free) or Anthropic Claude (paid)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $json.model_id }}:generateContent?key=CONFIGURE_ME_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ system_instruction: { parts: [{ text: $json.system_prompt }] }, contents: [{ parts: [{ text: $json.user_prompt }] }], generationConfig: { maxOutputTokens: $json.max_tokens, temperature: 0.7 } }) }}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "gemini-api-call",
      "name": "Gemini API Call (FREE)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "notes": "Google Gemini API — FREE tier: 15 RPM / 1M tokens/day for Flash, 5 RPM for Pro. Get key at https://aistudio.google.com/apikey",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.model_id, max_tokens: $json.max_tokens, system: $json.system_prompt, messages: [{ role: 'user', content: $json.user_prompt }] }) }}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "claude-api-call",
      "name": "Claude API Call (PAID)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 400],
      "credentials": {
        "httpHeaderAuth": { "id": "CONFIGURE_ME", "name": "Anthropic API Key" }
      },
      "notes": "Only used for high-value tasks: forecast review, proposals, newsletters",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini response into unified format\nconst response = $input.all()[0].json;\nconst body = response.body || response;\n\nconst content = body.candidates?.[0]?.content?.parts?.[0]?.text || '';\nconst inputTokens = body.usageMetadata?.promptTokenCount || 0;\nconst outputTokens = body.usageMetadata?.candidatesTokenCount || 0;\n\n// Gemini free tier = $0\nconst inputCost = 0;\nconst outputCost = 0;\n\n// Try to parse JSON from response\nlet parsedContent = content;\ntry {\n  const jsonMatch = content.match(/```json\\n([\\s\\S]*?)\\n```/) || content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsedContent = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n  }\n} catch (e) {\n  // Keep as string if not valid JSON\n}\n\nconst routerData = $('Model Router').first().json;\n\nreturn [{\n  json: {\n    content: content,\n    parsed_content: parsedContent,\n    model: routerData.model_id,\n    provider: 'google',\n    input_tokens: inputTokens,\n    output_tokens: outputTokens,\n    input_cost: '0.000000',\n    output_cost: '0.000000',\n    total_cost: '0.000000',\n    workflow_name: routerData.workflow_name,\n    client_name: routerData.client_name,\n    purpose: routerData.purpose,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-gemini",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude response into unified format\nconst response = $input.all()[0].json;\nconst body = response.body || response;\n\nconst content = body.content?.[0]?.text || '';\nconst inputTokens = body.usage?.input_tokens || 0;\nconst outputTokens = body.usage?.output_tokens || 0;\n\nconst routerData = $('Model Router').first().json;\nconst inputCost = inputTokens * routerData.cost_per_1k_input / 1000;\nconst outputCost = outputTokens * routerData.cost_per_1k_output / 1000;\n\n// Try to parse JSON from response\nlet parsedContent = content;\ntry {\n  const jsonMatch = content.match(/```json\\n([\\s\\S]*?)\\n```/) || content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsedContent = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n  }\n} catch (e) {}\n\nreturn [{\n  json: {\n    content: content,\n    parsed_content: parsedContent,\n    model: routerData.model_id,\n    provider: 'anthropic',\n    input_tokens: inputTokens,\n    output_tokens: outputTokens,\n    input_cost: inputCost.toFixed(6),\n    output_cost: outputCost.toFixed(6),\n    total_cost: (inputCost + outputCost).toFixed(6),\n    workflow_name: routerData.workflow_name,\n    client_name: routerData.client_name,\n    purpose: routerData.purpose,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-claude",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "jsCode": "// Retry logic with exponential backoff\nconst input = $input.all()[0].json;\nconst retryCount = (input.retry_count || 0) + 1;\nconst maxRetries = input.max_retries || 3;\n\nif (retryCount > maxRetries) {\n  throw new Error(`API failed after ${maxRetries} retries (provider: ${input.provider}). Last error: ${JSON.stringify(input)}`);\n}\n\nconst backoffMs = Math.pow(2, retryCount) * 1000;\nawait new Promise(resolve => setTimeout(resolve, backoffMs));\n\nreturn [{\n  json: {\n    ...input,\n    retry_count: retryCount\n  }\n}];"
      },
      "id": "retry-handler",
      "name": "Retry with Backoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 600]
    },
    {
      "parameters": {
        "jsCode": "// Merge outputs from either provider into unified format\nreturn $input.all();"
      },
      "id": "merge-outputs",
      "name": "Merge Provider Outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "CONFIGURE_ME_COST_LOG_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Workflow Name": "={{ $json.workflow_name }}",
            "Model": "={{ $json.model }}",
            "Provider": "={{ $json.provider }}",
            "Input Tokens": "={{ $json.input_tokens }}",
            "Output Tokens": "={{ $json.output_tokens }}",
            "Input Cost": "={{ $json.input_cost }}",
            "Output Cost": "={{ $json.output_cost }}",
            "Total Cost": "={{ $json.total_cost }}",
            "Client Name": "={{ $json.client_name }}",
            "Purpose": "={{ $json.purpose }}"
          }
        }
      },
      "id": "log-cost",
      "name": "Log API Cost",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1570, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "CONFIGURE_ME", "name": "Google Sheets" } }
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Return Response",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1790, 300],
      "notes": "Returns: content, parsed_content, model, provider, token counts, costs"
    }
  ],
  "connections": {
    "Sub-Workflow Input": { "main": [[{ "node": "Model Router", "type": "main", "index": 0 }]] },
    "Model Router": { "main": [[{ "node": "Which Provider?", "type": "main", "index": 0 }]] },
    "Which Provider?": {
      "main": [
        [{ "node": "Gemini API Call (FREE)", "type": "main", "index": 0 }],
        [{ "node": "Claude API Call (PAID)", "type": "main", "index": 0 }]
      ]
    },
    "Gemini API Call (FREE)": {
      "main": [
        [{ "node": "Parse Gemini Response", "type": "main", "index": 0 }],
        [{ "node": "Retry with Backoff", "type": "main", "index": 0 }]
      ]
    },
    "Claude API Call (PAID)": {
      "main": [
        [{ "node": "Parse Claude Response", "type": "main", "index": 0 }],
        [{ "node": "Retry with Backoff", "type": "main", "index": 0 }]
      ]
    },
    "Parse Gemini Response": { "main": [[{ "node": "Merge Provider Outputs", "type": "main", "index": 0 }]] },
    "Parse Claude Response": { "main": [[{ "node": "Merge Provider Outputs", "type": "main", "index": 0 }]] },
    "Retry with Backoff": { "main": [[{ "node": "Which Provider?", "type": "main", "index": 0 }]] },
    "Merge Provider Outputs": { "main": [[{ "node": "Log API Cost", "type": "main", "index": 0 }]] },
    "Log API Cost": { "main": [[{ "node": "Return Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "shared" }, { "name": "utility" }]
}
